/* 留言板 */
#message-board {
  width: 800px;
  margin: 0 0;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150px;
  left: 50px;
}

#message-input {
  width: 100%;
  position: relative;
}

#message-input textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  resize: none;
}

#anonymous-options {
  display: none;
  margin-top: 10px;
}

#anonymous-name {
  width: 10px;
  padding: 50px;
  margin-right: 10px;
}

#message-list {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 100px;
  padding: 20px;
  border-radius: 10px;
  width: 1200px;
  max-height: 500px;
  min-height: 500px;
  overflow: auto;
  position: absolute;
  top: 50px;
  left: 1000px;
}

#delete-button {
background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

#postButton, #emojiButton {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  bottom: -30%;
  left: 95%;
}

#postButton:hover, #emojiButton:hover {
  transform: scale(1.1);
}

#emojiList {
  display: none;
  position: absolute;
  top: 150px;
  left: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  max-width: 15rem; /* 调整宽度 */
  max-height: 15rem; /* 调整高度 */
  overflow: auto;
}

.emoji {
  font-size: 1.2rem;
  cursor: pointer;
  /* 调整为多行多列排列 */
  display: inline-block;
  margin-right: 0.1rem; /* 调整 emoji 之间的水平间距，可以根据需要修改 */
  margin-bottom: 0.1rem; /* 调整 emoji 之间的垂直间距，可以根据需要修改 */
}

/* 更新按钮样式 */
button.button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: 'myenfont', 'myzhfont', sans-serif;
  font-size: 1.5rem;
}

button.button:hover {
  transform: scale(1.05);
}

/* 通知样式 */
#notification {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

/* 样式规则用于设置发布者名字和发布时间的字体大小和颜色 */
.message-author, .message-time {
  font-size: 35px;
  color: rgb(22, 22, 180, 1);
}

/* 样式规则用于设置留言内容的字体大小和颜色 */
.message-text {
  font-size: 25px;
  color: rgb(105, 4, 88, 1);
}
