/* 鼠标指针样式 */
body {
	cursor: url(../Deepin2-Dark/Arrow.cur), default;
}
select{
	cursor: url(../Deepin2-Dark/Hand.cur), pointer;
}
button,a:hover{
	cursor: url(../Deepin2-Dark/Hand2.cur), pointer;
}
input{
	cursor:url(../Deepin2-Dark/Help.cur), text;	
}
textarea,input:focus{
	cursor:url(../Deepin2-Dark/IBeam.cur), text;	
}
code{
	cursor: url(../Deepin2-Dark/Handwriting.cur), default;	
}
pre>code{
	cursor: url(../Deepin2-Dark/Copy.cur), default;	
}
